<nav>
	<a href="/">Home</a>  |
	<a href="/admin">Dashboard</a>  |
	<a href="/admin/editadmin">Edit Account</a>  |
	<a href="/admin/logout" id="login">Logout</a>	
	<a href="/" id="welcome">Welcome <%= user.name %>!</a>
</nav>