<!DOCTYPE html>
<html>
	<% include admin-header %>
	<body>
		<header>Admin Dashboard</header>
		<nav>
			<a href="/admin">Home</a>  |
			<a href="/admin/editpage">Add Page</a>  |
			<a href="/admin/editadmin">Edit Account</a>  |
			<a href="/auth" id="login">Logout</a>	
		</nav>
		
		<div class="content bg">
			<table id="dash">
				<caption>Table of Pages</caption>
				<tr>
					<th>Title</th>
					<th>Last Updated</th>
					<th>Options</th>
				</tr>
				
				<tr>
					<td><a href="">Title 1</a></td>
					<td>January 7, 2018</td>
					<td>
						<button type="button">Delete</button>
						<button type="button">Edit</button>
						<button type="button">Visible</button>
					</td>
				</tr>
				<tr>
					<td><a href="">Title 2</a></td>
					<td>January 9, 2018</td>
					<td>
						<button type="button">Delete</button>
						<button type="button">Edit</button>
						<button type="button">Visible</button>
					</td>
				</tr>
				<tr>
					<td><a href="">Title 3</a></td>
					<td>January 10, 2018</td>
					<td>
						<button type="button">Delete</button>
						<button type="button">Edit</button>
						<button type="button">Visible</button>
					</td>
				</tr>
			</table>
		</div>
		<% include footer %>
	</body>
</html>
