<!DOCTYPE html>
<html>
	<head>
		<title>Admin Edit</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"/>
	</head>
	<body>
		<header>Edit User Account</header>
		<% include admin-header %>
		
		<div class="content bg">
			<% if(typeof editMsg !== 'undefined') { %>
			<h4 class="auth-error"><%= editMsg %></h4>
			<% } %>
			<h2>Edit Account Info</h2><hr class="short" />
			<!-- Edit User Credential form -->
			<form method="POST">
				<label>Display Name:</label> <br/>
				<input type="text" name="name" value=<%= person.name %> required /> <br/>
				New Email:<br/>
				<input type="text" name="email" value=<%= person.email %> required /> <br/>
				New Password:<br/>
				<input type="password" name="password1" required /> <br/>
				Retype Password:<br/>
				<input type="password" name="password2" required /> <br/>
				<input type="reset" value="Revert"/>
				<input type="submit" value="Save"/>
			</form>
		</div>
		
		<% include footer %>
	</body>
</html>
