<nav>
	<a href="/">Home</a>
	<div class="dropdown">
		<button class="dropbtn">Pages</button>
		<div class="dropdown-content" id="pageDropdown">
			<!--Load that shit-->
		</div>
	</div>
	<a href="/auth" id="login">Login</a>
</nav>