<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
	<body>
		<header>Home</header>
        <% include header %>
        
		<div class="content bg" id="home-body">
            <h1 id="home-head">Check out these pages!</h1>
            <hr id='home-hr'>
            <!-- List all visible pages -->
            <ul>
            <% for (var i = 0; i < pages.length; i++) {%>
                <li><a class="page-list" href="/<%= pages[i].url %>"><%= pages[i].title %></a></li>
            <% } %>
            </ul>
		</div>
		
		<% include footer %>
	</body>
</html>
