<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
	<body class="bg home">

		<% include user-header %>
		<header>Welcome to the Home Page!</header>
        
		<div class="content home">
            <h1 id="home-head">Check out these pages!</h1>
            <hr class="home">
            <!-- List all visible pages -->
            <ul>
            <% for (var i = 0; i < pages.length; i++) {%>
                <li><a class="page-list" href="/<%= pages[i].url %>"><%= pages[i].title %></a></li>
            <% } %>
            </ul>
		</div>
		
		<% include user-footer %>
	</body>
</html>
