<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
	<body>
		<header><%= title %></header>
		<% include header %>
		
		<div class="content">
			<%= content %>
		</div>
		
		<% include footer %>
	</body>
</html>
