<!DOCTYPE html>
<html>
	<% include header %>
	
	<body>
		<header><%= title %></header>
		<nav>
			<a href="/template">Home</a>  |
			<a href="">Link 1</a>  |
			<a href="">Link 2</a>  |
			<a href="">Link 3</a>  |
			<a href="">Link 4</a>  |
			<a href="">Link 5</a>  |
			<a href="/auth" id="login">Login</a>
		</nav>
		
		<div class="content">
			<p><%= content %></p>
		</div>
		
		<% include footer %>
	</body>
</html>
