<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="main.css"/>
	</head>
	
	<body>
		<header><%= title %></header>
		<nav>
			<a href="./template">Home</a>  |
			<a href="">Link 1</a>  |
			<a href="">Link 2</a>  |
			<a href="">Link 3</a>  |
			<a href="">Link 4</a>  |
			<a href="">Link 5</a>  |
			<a href="./admin" id="login">Login</a>
		</nav>
		
		<div class="content">
			<p><%= content %></p>
		</div>
		
		<footer>
			<p>Posted by: Author</p>
			<p>Contact information: <a href="mailto:someone@example.com">
			someone@example.com</a></p>
		</footer>
	</body>
</html>
