<nav class="home">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn home">Pages</button>
        <div class="dropdown-content">
                <% for (var i = 0; i < pages.length; i++) {%>
                    <a href="/<%= pages[i].url %>"><%= pages[i].title %></a>
                <% } %>
        </div>
    </div>
    <% if(typeof user !== 'undefined') { %>
        <a href="/admin">Dashboard</a>
        <a href="/admin/logout" id="login">Logout</a>	
        <a href="/" id="welcome">Welcome <%= user.name %>!</a>
    <% } else { %>
    <a href="/auth" id="login">Login</a>
    <% } %>
</nav>