h2 {
	font-family: courier;
}

hr {
	margin: 0;
}

input[type="submit"], input[type="reset"] {
	margin-top: 5px;
	margin-right: 5px;
	padding: 4px 6px;
}

input {
	margin-bottom: 5px;
}

form {
	padding-top: 10px;
}

label.prettylabel {
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
}

select {
	margin-bottom: 5px;
	color: gray;
}

table#dash{
	width: 700px;
	height: 600px;
	color: #494747;
	margin: auto;
	background-color: white;;
	padding: 5px;
	font-family: Verdana;
	text-align: center;
}

caption {
	font-size: 2.5em;
	font-family: courier;
	background-color: rgb(2, 70, 197);
	color: white;
}

.btn-add-page {
	padding: 10px 18px;
	background-color: rgb(13, 13, 196);
	color: white;
	border-radius: 20px;
	border: none;
	font-weight: bold;
	outline: 0;
	margin: 5px 10px 5px 0px;
	float: right;
}

textarea {
	resize: none;
}

button {
	color: #494747;
	padding: 4px 6px;
}

td a:visited, td a {
	color: #494747;
}

td a:hover {
	color: gray;
}

.content.bg {
	color: white;
	background: linear-gradient(to bottom right, black , white);
}

.auth-error {
	color: red;
	font-weight: bold;
	font-family: verdana;
}

.add-error {
	color: red;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
	display: none;
}

.show {
	display: inline;
}

.within {
	display: inline;
	margin: 0;
	padding: 0;
}

.btn-delete {
	background-image: url(/imgs/delete.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	height: 37px;
	width: 42px;
	outline: 0;
}

.btn-visibility {
	background-image: url(/imgs/visible.png);
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	height: 38px;
	width: 43px;
	outline: 0;
	color: white;
}

.btn-visibility.invisible {
	background-image: url(/imgs/invisible.png);
}

#btn-edit {
	background-image: url(/imgs/edit.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: none;
	height: 35px;
	width: 40px;
	outline: 0;
	margin-left: 7px;
}

#addDialog {
	margin: auto;
	width: 400px;
}

hr.short {
	width: 30%;
}