h2 {
	font-family: courier;
}

hr {
	margin: 0;
}

input[type="submit"], input[type="reset"] {
	margin-top: 5px;
	margin-right: 5px;
	padding: 4px 6px;
}

input {
	margin-bottom: 5px;
}

form {
	padding-top: 10px;
}

label.prettylabel {
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
}

select {
	margin-bottom: 5px;
	color: gray;
}

table#dash{
	width: 700px;
	height: 600px;
	color: #494747;
	margin: auto;
	background-color: #dfdfdf;
	padding: 5px;
	font-family: Verdana;
}

th {
	padding: 10px;
	background-color: #D3D3D3;
}

tr td {
	text-align: center;
}

td {
	padding: 10px;
	background-color: #D3D3D3;
}

caption {
	font-size: 2.5em;
	font-family: courier;
	background-color: #dfdfdf;
}

textarea {
	resize: none;
}

button {
	color: #494747;
	padding: 4px 6px;
}

td a:visited, td a {
	color: #494747;
}

td a:hover {
	color: gray;
}

.content.bg {
	color: white;
	background: linear-gradient(to bottom right, black , white);
}

.auth-error {
	color: red;
	font-weight: bold;
	font-family: verdana;
}

.add-error {
	color: red;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
}

.within {
	display: inline;
	margin: 0;
	padding: 0;
}

.btn-visibility {
	background-color: green;
	color: white;
}

.btn-visibility.invisible {
	background-color: red;
}

#btn-edit {
	margin: 0;
}

#addDialog {
	margin: auto;
	width: 400px;
}

hr.short {
	width: 30%;
}

.ui-dialog-content {
	background-color: white;
	color: #333333;
	overflow: auto;
	padding-left: 15px;
	padding-bottom: 10px;
}

.ui-dialog-titlebar {
	background-color: white;
}

.ui-dialog-titlebar-close {
	margin-top: 10px;
}